#order-summary {
  display: none;
}

.jumbotron {
  text-align: center;
  opacity: .7;
  margin-top: 20px;
}

body{
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
